/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 738px;
    margin: auto;
    padding: 0 10px;
}

#page-title {
    text-align: center;
    font: normal 50px/61px Montserrat;
    letter-spacing: 0px;
    color: #36006C;
    opacity: 1;
    margin-bottom: 43px;
}

#description {
    text-align: left;
    font: normal normal 300 21px/32px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.54;
    margin-bottom: 35px;
}

#prompt {
    text-align: center;
    font: bold 21px/25px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 41px;
}


#tool-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
}

#tool-grid .tool-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26.07px;
    padding: 40px;
}

#tool-grid .tool-option:hover {
    cursor: pointer;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

#tool-grid .tool-option img {
    max-width: 139px;
    max-height: 139px;
}

#tool-grid .tool-option .name {
    text-align: center;
    font: normal 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #36006C;
    opacity: 1;
}

#popup {
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000001A;
    border-radius: 5px;
    opacity: 1;
    max-width: 879px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 81px 40px;
}

#popup #header {
    text-align: center;
    font: normal 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #36006C;
    opacity: 1;
}

#popup img {
    max-width: 139px;
    max-height: 139px;
}

#popup #loader-img {
    max-width: 70px;
}

#popup #curb-logo {
    max-width: 70px;
}

#your-bet {
    font: bold 21px/25px Montserrat;
    letter-spacing: 0px;
    color: #36006C;
    opacity: 1;

}

#curbs-bet {
    display: flex;
    flex-direction: column;
}

#popup-grid {
    margin-top: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 52px;
}

#popup #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#popup #close:hover {
    cursor: pointer;
}

#backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.72;
}

.hidden {
    display: none;
}

.a {
    animation-name: loading;
    animation-delay: -0.66s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.b {
    animation-name: loading;
    animation-delay: -0.33s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.c {
    animation-name: loading;
    animation-delay: -0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.12;
    }
}

#result {
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000001A;
    border-radius: 5px;
    opacity: 1;
    max-width: 879px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 81px 40px;
}

#result #title {
    font: normal 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #36006C;
    opacity: 1;
}

#result #details {
    font: normal normal 300 21px/32px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.54;
}

#result #curbs-choice {
    max-width: 161px;
    max-height: 161px;
}

#result #ok {
    background: #36006C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font: normal 32px/39px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
    padding: 17px;
    width: 100%;
}

#result #ok:hover {
    cursor: pointer;
}

#result #panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

#result #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#result #close:hover {
    cursor: pointer;
}